<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Todo Item</title>
</head>
<body>
  <main>
<div>
<h1> Create a new item </h1>

<p><a href={% url "todo_list_list" %}>Return back to List</a></p>


<form method="post"> 
{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Create Item">
</form>

</div>
  </main>
</body>
</html>