<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Todo List</title>
</head>
<body>
  <main>
<div>
<h1> Create a new list </h1>

<form method="post"> 
{% csrf_token %}
{{form}}
<input type="submit" value="Submit Button">
</form>

</div>
  </main>
</body>
</html>