<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Todo List </title>
</head>
<body>
  <main>
    <div>
<h1>Are you sure you want to delete?</h1>

<p><a href={% url "todo_list_list" %}>No, bring me back</a></p>

<form method="post"> 
  {% csrf_token %}
  {{form}}
  <input type="submit" value="Delete">
  </form>


    </div>
  </main>
</body>
</html>