<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List </title>
</head>
<body>
  <main>
    <div>
<h1>{{todolist.name}} Todolist</h1>

<p><a href={% url "todo_list_list" %}>Full list</a></p>
<p><a href={% url "todo_list_update" todolist.pk %}>Edit list name</a></p>
<p><a href={% url "todo_list_delete" todolist.pk %}>Delete list</a></p>

<table>
<thead>
<tr>
  <th>Task</th>
  <th>Due Date</th>
</tr>
</thead>

<tbody>
{% for task in tasks %}
  <tr>
<td><a href={% url "todo_item_update" task.pk %}>{{ task.task }}</a></td>
<td>{{ task.due_date }}</td>
  </tr>

  {% endfor %}
</tbody>


</table>


    </div>
  </main>
</body>
</html>